main {
    
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95); // Changed from solid red to transparent
    width: 100%;
    position: relative;
    z-index: 2;

    .products-container{
        text-align: center;
        margin-top: 7vh;
        .products-title{
            color: white;
            background-color: #2f2c29;
            font-size: 30px;
            font-weight: 500;
        }
        
    }

    
}