---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/react/Navbar/navbar"
import PromoSectionLarge from "../components/react/PromoSectionLarge/promoSectionLarge"
import "../../assets/scss/landing.scss"
import CategoryCard from "../components/react/sub-components/CategoryCard/categoryCard"
import AboutComponent from "../components/react/AboutComponent/aboutComponent"
import Footer from "../components/react/Footer/footer"
import data from "../../public/data.json"
--- 

<Layout title="Tele Systems">
    <main>
        
        <PromoSectionLarge/>
        <div class="category-card-container">
            <div class="category-container">
                <div class="title">
                    Shop by category
                </div>
                <div class="short-description">
                    Browse all categories {">"}
                </div>
                <div class="card-container">
                    {
                        data.categories.slice(0,4).map(category => <CategoryCard thumb_src={category.thumb_src} title={category.title}/>)
                    }

                </div>
            </div>
        </div>

        <h3 class="about-us-title">About Us</h3>
        <div class="about-us-title-short">Hover on the cards below to see the description</div>
        <div class="about-section">
            
            <AboutComponent/>
        </div>

    </main>
</Layout>

