---
import Layout from "../layouts/Layout.astro"
import ProductsComponent from "../components/react/Products/productsComponent"
import "../../assets/scss/products.scss"
---

<Layout title="Products">
    <main>
        <div class="products-container">
            <div class="products-title">
                <h1>Products List</h1>
            </div>
            <ProductsComponent  client:load/>
        </div>
        
    </main>
</Layout>
